name: Run pytest

on: [push]

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11" ]
    runs-on: ubuntu-latest

    steps:

      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@0.13.0
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: '1.8.2'

      - name: Run pytest
        run: poetry run python3 -m pytest
