name: Run pytest

on: [push, pull_request]

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry
      uses: abatilo/actions-poetry@v2.0.0
    - name: apt update
      run: sudo apt-get update
    - name: Install blas for Numpy from source
      run: sudo apt-get install -y libblas-dev #highly recommended for numpy from source, check https://numpy.org/devdocs/user/building.html#prerequisites
    - name: Install lapack for Numpy from source
      run: sudo apt-get install -y liblapack-dev #highly recommended for numpy from source, check https://numpy.org/devdocs/user/building.html#prerequisites
    - name: Install dependencies
      run: poetry install
    - name: Run pytest
      run: poetry run python3 -m pytest
